<footer class="footer-main">
    © {{ site.time | date: '%Y' }} {{ site.name }}<br />{% if page.lang == "de" %}<a class="link" href="{{ site.url }}/kontakt">Kontakt</a>{% endif %}{% if page.lang == "en" %}<a class="link" href="{{ site.url }}/contact">Contact</a>{% endif %} {% if page.lang == "de" %}<a class="link" href="{{ site.url }}/impressum">| Impressum & Datenschutz</a>{% endif %}{% if page.lang == "en" %}{% endif %}
    <p class="theme-creator">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>
</footer>
