@import "base/variables";
@import "base/normalize";
@import "base/syntax";
@import "base/general";
@import "base/helpers";

@import "pages/home-blog-projects";
@import "pages/page";
@import "pages/post";
@import "pages/tags";

@import "components/author";
@import "components/disqus";
@import "components/footer";
@import "components/header";
@import "components/nav";
@import "components/others";
@import "components/pagination";
@import "components/related";
@import "components/share";
@import "components/side-by-side";
@import "components/social-links";
@import "components/spoiler";

// import Font 'Mr Dafoe'
@font-face {
    font-family: Mr Dafoe;
    src: url("../assets/fonts/MrDafoe-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

// import Font 'Permanent Marker'
//@font-face {
//    font-family: Permanent Marker;
//    src: url("../assets/fonts/PermanentMarker-Regular.ttf") format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}

// import Fon 'Roboto Slab'
@font-face {
    font-family: Roboto Slab;
    src: url("../assets/fonts/RobotoSlab-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Roboto Slab;
    src: url("../assets/fonts/RobotoSlab-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto Slab;
    src: url("../assets/fonts/RobotoSlab-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto Slab;
    src: url("../assets/fonts/RobotoSlab-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: bold;
}
