---
title: Blog
layout: page
lang: de
ref: blog
---
<section class="list">
	{% assign posts=site.posts | where:"lang", page.lang | where:"category", "blog" %}
	{% if posts.size == 0 %}
		<p class="text-center">Nichts hier!</p>
	{% elsif site.paginate %}
		{% assign posts=paginator.posts | where:"lang", page.lang %}	
		{% for post in posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include pagination.html%}
	{% else %}
		{% assign posts=site.posts | where:"lang", page.lang %}	
		{% for post in posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
